<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Jeffrey Yoo (QData group at UVA)">
    <!-- <link rel="icon" href="../../favicon.ico"> -->
    <title>{{ title }} - Adversarial Playground Text</title>
        <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bs/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Bootstrap slider CSS -->
    <link href="{{ url_for('static', filename='bootstrap-slider.min.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet">
    <!-- Plotly! -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

  <body>

    <!-- CSS Style -->
    <style>
      div.padded {
        padding-top: 10px;
      } 
    </style> 

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index">TextAttack Visualization</a>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="about">About TextAttack <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        {% block title_information %}
        {% endblock %}
        
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Input String</span>
          </div>
          <input type="text" class="form-control" aria-label="InputString" aria-describedby="InputString" id="InputString">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="generate_button">Generate Adverserial Sample</button>
          </div>
        </div>

      </div>

      <div class="row">
        <!-- Column 1: Options-->
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"> Options </h4>
              
              <h5><div class = "padded"> Model: </div>
                <div class = "padded">
                  <select id="model" class="form-control">
                    <option value="bert-ag-news">BERT AG News</option>
                    <option value="bert-imdb">BERT IMDB Sentiment</option>
                    <option value="bert-mr">BERT Movie Review Sentiment</option>
                    <option value="bert-yelp-sentiment">BERT Yelp Sentiment</option>
                    <option value="cnn-ag-news">CNN AG News</option>
                    <option value="cnn-imdb">CNN IMDB Sentiment</option>
                    <option value="cnn-mr">CNN Movie Review Sentiment</option>
                    <option value="cnn-yelp-sentiment">CNN Yelp Sentiment</option>
                    <option value="lstm-ag-news">LSTM AG News</option>
                    <option value="lstm-imdb">LSTM IMDB Sentiment</option>
                    <option value="lstm-mr">LSTM Movie Review Sentiment</option>
                    <option value="lstm-yelp-sentiment">LSTM Yelp Sentiment</option>
                  </select>
                </div>
              </h5>

              <h5><div class = "padded"> Attack: </div>
                <div class = "padded">
                  <select id="attack" class="form-control">
                    <option value="greedy-word">Greedy Word</option>
                    <option value="greedy-word-wir">Greedy Word with Importance Ranking</option>
                    <option value="ga-word">Genetic Algorithm</option>
                  </select>
                </div>
              </h5>

              <h5><div class = "padded"> Recipe (Optional): </div>
                <p class="small" style="font-size:60%;">*Setting recipe overrides transformation and constraint</p>
                  <select id="recipe" class="form-control">
                    <option value="none" > None </option>
                    <option value="alzantot">Alzantot 2018 - Genetic Algorithm</option>
                    <option value="alz-adjusted">Alzantot 2018 - Genetic Algorithm Adjusted</option>
                    <option value="textfooler">Jin 2019 - TextFooler</option>
                    <option value="tf-adjusted">Jin 2019 - TextFooler Adjusted</option>
                  </select>
              </h5>

              <h5><div class = "padded"> Transformation: </div>
                <div class = "padded">
                  <select id="transformation" class="form-control">
                    <option value="word-swap-embedding">Word Swap - Embedding</option>
                    <option value="word-swap-homoglyph">Word Swap - Homoglyph</option>
                    <option value="word-swap-neighboring-char-swap">Word Swap - Neighboring Character Swap</option>
                  </select>
                </div>
              </h5>

              <h5><div class = "padded"> Constraint: </div>
                <div class = "padded">
                  <select id="constraint" class="form-control">
                    <option value="none"> None </option>
                    <option value="embedding">Word Embedding Distance</option>
                    <option value="goog-lm">Google Language Model</option>
                    <option value="bert">BERT</option>
                    <option value="infer-sent">InferSent</option>
                    <option value="use">Universal Sentence Encoder</option>
                    <option value="lang-tool">Language Tool</option>
                  </select>
                  <div class = "padded">
                  <h6> Constraint Input </h6>
                    <input type="text" class="form-control" id="constraint_input" placeholder="{arg_1}={value_1}, {arg_2}={value_2} ...">
                </div>
              </h5>

            </div>
          </div>
        </div>

        <!-- Column 1: Adverserial Example Display -->
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">

              <!-- Row 1: text samples -->
              <div class="row">
                <div class="col-xs-6">
                  <h4 align = center>Original Sample</strong></h4>
                  {% if model_name == "dwb" %}
                  <p class="text-center" id="originalSample"></p>
                  {% endif %}
                  <div id="orig-sample"></div>
                </div> 
                <div class="col-xs-6">
                  <h4 align = center>Adversarial Sample</strong></h4>
                  {% if model_name == "dwb" %}
                  <p class="text-center" id="advSample"></p>
                  {% endif %}
                  <div id="adv-sample">
                  </div>
                </div><!-- end of row 1 -->

              <!-- Row 2: Classification aka Sports, Category 1, etc ... -->
              <div class="row">
                <div class="col-xs-6">
                  <h3 align = center>Original Class</strong>
                  <p class="text-center" id="origClass">
                  <div id="orig-class"></div>
                </div>
                <div class="col-xs-6">
                  <h3 align = center>Adversarial Class</strong>
                  <p class="text-center" id="advClass">
                  <div id="adv-class"></div>
                </div>
              </div> <!-- end of row 2 -->

              <!-- Row 3: Plot of classification probabilities -->
              <div class="row">
                <div class="col-xs-6">
                  <h3 align = center>Original Classification</strong>
                  <p class="text-center" id="origLikelihood">
                  <div id="orig-likelihoods"></div>
                </div>
                <div class="col-xs-6">
                  <h3 align = center>Adversarial Classification</strong>
                  <p class="text-center" id="advLikelihood">
                  <div id="adv-likelihoods"></div>
                </div>
              </div> 
              <!-- end of row 3 -->
            </div>
          </div>
        </div>
      

      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='image-picker/image-picker/image-picker.min.js')}}"></script>

    <script>

      $(document).ready(function(){
          $("#generate_button").click(function(){
            
            var input_string = document.getElementById("InputString").value;
            var model = document.getElementById("model").value;
            var attack = document.getElementById("attack").value;
            var recipe = document.getElementById("recipe").value;
            var transformation = document.getElementById("transformation").value;
            var constraint_type = document.getElementById("constraint").value;
            var constraint_input = document.getElementById("constraint_input").value;

            $.post("run_textattack",
            {
              input_string    : input_string, 
              model : model,
              attack : attack,
              recipe : recipe,
              transformation : transformation,
              constraint_type : constraint_type, 
              constraint_input : constraint_input
            },

            function(data,status){
              // Retrieve the data
              var orig_text = data['original_text_data'];
              var adv_text = data['adv_text_data'];
              var orig_class = data['original_class'];
              var adv_class = data['adversary_class'];
              var newOrigText = "";
              var newAdvText = "";
              var max_scores = data['max_scores'];

              // Convert original and adversarial texts to vector of words
              var orig_text_vec = String(orig_text).split(" ");
              var adv_text_vec = String(adv_text).split(" ");

              // Heatmap like indicator for top 2 most important tokens.
              for (var i = 0; i < orig_text_vec.length; i++) {
                if (i == max_scores[0]) {
                  newOrigText += "<p style = 'display:inline; font-size:36px'>";
                  newAdvText += "<p style = 'display:inline; font-size:36px'>";
                }
                else if (i == max_scores[1]) {
                  newOrigText += "<p style = 'display:inline; font-size:24px'>";
                  newAdvText += "<p style = 'display:inline; font-size:24px'>";
                }
                for (var j = 0; j < String(orig_text_vec[i]).length; j++) {
                  if (String(adv_text_vec[i]).charAt(j) != String(orig_text_vec[i]).charAt(j).toLowerCase()) {
                      newAdvText += String(adv_text_vec[i]).charAt(j).fontcolor("red");
                   }
                   else {
                      newAdvText += String(adv_text_vec[i]).charAt(j).toLowerCase();
                  }
                  newOrigText += String(orig_text_vec[i]).charAt(j).toLowerCase();
                }

                if (adv_text_vec[i].length < orig_text_vec[i].length) {
                    newAdvText += String("_").fontcolor("red");
                }

                if (adv_text_vec[i].length > orig_text_vec[i].length) {
                    newAdvText += String(adv_text_vec[i]).substring(orig_text_vec.length+1, orig_text_vec.length+2).fontcolor("red");
                }

                if (i == max_scores[0] || i == max_scores[1]) {
                  newOrigText += "</p>";
                  newAdvText += "</p>";
                } 
                newOrigText += " ";
                newAdvText += " ";
              }

              // Add identifying text for the resulting classes of each model
              model_int = parseInt(model_button, 10);
              if (model_int == 1 || model_int == 6) {
                var orig_stars = parseInt(data['original_class'], 10);
                var adv_stars = parseInt(data['adversary_class'], 10);

                star_string = "&#9733";
                star_string = star_string.repeat(orig_class);
                orig_class += " " + star_string + " Review";

                star_string = "&#9733";
                star_string = star_string.repeat(adv_class);
                adv_class += " " + star_string + " Review";
              }
              else if (model_int == 0) {
                orig_class += " News";
                adv_class += " News";
              }
              else if (model_int == 2 || model_int == 7) {
                orig_class += " Review";
                adv_class += " Review";
              }
              else if (model_int == 3 || model_int == 5) {
                orig_class += " Category";
                adv_class += " Category";
              }

              // Chart layout: the settings (like margins, colors, etc ...) for the graphs in Plotly
              var chart_layout = {
                margin: {
                  l: 75,
                  r: 75,
                  b: 50,
                  t: 50,
                  pad: 2
                },
                xaxis: {
                  tickmode: 'linear',
                },
                yaxis: {
                 title: 'Probability',
                 range: [0, 1],
                 showgrid: false,
                 zeroline: true,
                 showline: true,
                },
              };

              // Write the data to the 6 categories listed below
              originalSample.innerHTML = "<p style = 'display:inline;'><br>" + newOrigText + "</p>";
              advSample.innerHTML = "<p style = 'display:inline;'><br>" + newAdvText + "</p>";
              origClass.innerHTML = "<h4><br>" + orig_class + "</h4>";
              advClass.innerHTML = "<h4><br>" + adv_class + "</h4>";
              Plotly.newPlot('orig-likelihoods', data['orig_likelihood_data'], chart_layout);
              Plotly.newPlot('adv-likelihoods', data['adv_likelihood_data'], chart_layout);
            }, "json");
          });

          $('#InputString').on('keyup', function(e) {
            if (e.keyCode === 13) {
                $('#generate_button').click();
            }
        });
      });

    </script>
    
    <script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-slider.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="{{ url_for('static', filename='bs/js/ie10-viewport-bug-workaround.js')}}"></script>-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-100959649-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
